	#id{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-color: yellow;
    }
    .class{
        width: 150px;
        height: 150px;
        margin: 0 auto;
        margin-top: 20px;
        background-color: cyan;
    }

